.todos {
  .todo-checkbox {
    margin-right: 1.5em;
  }

  .todo-primary {
    .clearfix();
  }

  .todo-complete {
    float: left;
  }

  .todo-complete-true {
    text-decoration: line-through;
  }

  .todo-description {
    .text-overflow();
  }

  @media (min-width: @screen-sm-min) {
    .todo-edit-controls, .todo-secondary {
      text-align: right;
    }
  }

  .todo-edit, .todo-delete {
    font-size: 0.8em;
    padding-top: 0;
    padding-bottom: 0;
  }
}